<#import "template.html" as template>
<@template.content>
		<div class="row section">

			<h2>${LANG_CONTACT}</h2>
			<ul>
				<li>${LANG_EMAIL}: ppkpub@gmail.com</li>
				<li>${LANG_WEBSITE}: <a href="http://ppkpub.org/">ppkpub.org</a></li>
                <li>Twitter: <a href="https://twitter.com/ppkpub">@ppkpub</a></li>
			</ul>
            
            <h2>${LANG_TECHNICAL}</h2>
			<ul>
                <li><a href="http://ppkpub.org/doc/PPk_ODIN_Introduce.pdf">(PDF) ODIN（开放数据索引命名）简介</a></li>
                <li><a href="http://ppkpub.org/ppk_odin_cn.html">(HTML) ODIN(开放数据索引命名)基础定义</a></li>
                <li><a href="http://ppkpub.org/ppk_odin_spec_cn.html">(HTML) ODIN(开放数据索引命名)技术规范</a></li>
			</ul>

			<h2>${LANG_RESOURCE}</h2>
			<ul>
				<li><a href="https://github.com/ppkpub/">GitHub</a></li>
			</ul>
			
			<h2>${LANG_MEMBERS}</h2>
            <ul>
                <li>Flyingsee, ${LANG_CHINA}</li>
                <li>Alps_xing, ${LANG_CANADA}</li>
                <li>大头鱼, ${LANG_CHINA}</li>
                <li>Paul, ${LANG_CHINA}</li>
                <li>Demo.Huang,${LANG_CHINA}</li>
                <li>Baoxing.Wang,${LANG_CHINA}</li>
                <li>Bitzhangteng,${LANG_CHINA}</li>
            </ul>
			
			<h2>${LANG_DONATIONS}</h2>
			<p>${LANG_DONATIONS_ARE_WELCOME}</p>
			<p>BTC: 1PPk2gJ9Jq413nKG1FqKUJxSGeMoY1E5yq</p>
			<p>DOGE: DUAFJKETgXj58v6uPYYMCSXVXAWxXDktFC</p>
 
		</div>
</@template.content>
