<#import "template.html" as template>
<@template.content>
<div class="row section">
  <div class="form-group">
    <label for="top_buttons" class="col-sm-5 control-label"><h3>${LANG_RECENT_ODINS}(Open Data Index Name)</h3></label>
    <div class="col-sm-7" id="top_buttons" align="right">
     <a class="btn btn-success" role="button" href="/odin">${LANG_MY_ODIN}...</a>
     <a class="btn btn-success" role="button" href="/odin-add">${LANG_REGISTE_A_NEW_ODIN}...</a>
    </div>
  </div>
</div>

<div class="table-responsive">

<#if recent_odins??>
<table class="table table-striped">
<thead>
    <tr>
        <th>${LANG_FULL_ODIN}</th>
        <th>${LANG_SHORT_ODIN}</th>
        <th>${LANG_TIME}</th>
        <th>${LANG_ADMIN_REGISTER}</th>
        <th>${LANG_STATUS}</th>
    </tr>
</thead>

<tbody>
<#list recent_odins as odin>
    <tr>
        <td><a href='/odin-detail?odin=${odin["short_odin"]}'>${odin["full_odin"]}</a></td>
        <td><a href='/odin-detail?odin=${odin["short_odin"]}'>${odin["short_odin"]}</a></td>
        <td><a href="https://btc.com/${odin["block_index"]}/">${odin["block_time"]}</a></td>
        <td>
        ${LANG_ADMIN_BY} ${odin["admin"]}<br>
        ${LANG_REGISTED_BY} ${odin["register"]}
        </td>
        <td>
            ${odin["validity"]}<br>
            <#if odin["me_updatable"]??>
            <a class="btn btn-warning" role="button" href='/odin-update?odin=${odin["short_odin"]}'>${LANG_UPDATE}...</a><br>
            </#if>
        </td>
    </tr>
</#list>
</tbody>
</table>
</#if>
</div>

</@template.content>
