<#import "template.html" as template>
<@template.content>

<div class="row section">
    <a href="/community"><img src="/images/t-topic.jpg" style="height: 250px;" class="float_right" /></a>
    <div class="page-header">
      <h2>${LANG_PPKPUB} <small>${LANG_A_UNIQUE_GROUP}</small></h2>
    </div>
    <p>${LANG_MADE_FOR_A_LITTLE_JOY} ${LANG_SOFTWARE_INCLUDING}</p>
    <p>${LANG_BUILT_ON_BITCOIN_BLOCKCHAIN}</p>
    <p><a class="btn btn-primary" role="button" href="https://ppkpub.github.io/docs/">${LANG_LEARN_MORE}</a>  <a class="btn btn-success" role="button" href="/odin">${LANG_MY_ODIN}...</a> <a class="btn btn-success" role="button" href="/odin-add">${LANG_REGISTE_A_NEW_ODIN}...</a></p>
</div>

<#if news_url??>
<div class="row section">
<h3>${LANG_NEWS}</h3>
<iframe width="100%" height="50" scrolling="auto" frameborder="no" name="news_content" id="news_content" src="${news_url}"></iframe>
</div>
</#if>

<div class="row section padding-top">
<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
    <li class="active"><a href="#recent_odins" data-toggle="tab">${LANG_RECENT_ODINS}</a></li>
    <li><a href="#top100_registers" data-toggle="tab">${LANG_TOP100_REGISTERS}</a></li>
    <li><a href="#query_odin" data-toggle="tab">${LANG_QUERY_ODIN}</a></li>
</ul>

<div id="my-tab-content" class="tab-content">
    <div class="tab-pane active" id="recent_odins">
        <div class="table-responsive">

        <#if recent_odins??>
        <table class="table table-striped">
        <thead>
            <tr>
                <th>${LANG_FULL_ODIN}</th>
                <th>${LANG_SHORT_ODIN}</th>
                <th>${LANG_TIME}</th>
                <th>${LANG_ODIN_REGISTER_ADDRESS}</th>
                <th>${LANG_STATUS}</th>
            </tr>
        </thead>

        <tbody>
        <#list recent_odins as odin>
            <tr>
                <td><a href='/odin-detail?odin=${odin["short_odin"]}'>${odin["full_odin"]}</a></td>
                <td><a href='/odin-detail?odin=${odin["short_odin"]}'>${odin["short_odin"]}</a></td>
                <td><a href="https://btc.com/${odin["block_index"]}/">${odin["block_time"]}</a></td>
                <td>${odin["register_label"]}</td>
                <td>${odin["validity"]}</td>
            </tr>
        </#list>
        </tbody>
        </table>
        </#if>
        </div>
    </div>
    
    <div class="tab-pane" id="top100_registers">
    <#if top100_registers??>
        <#if my_rank??>
        <div align="center">
        <p><strong><a href="/odin">我的地址[${address_label} ]已注册了 ${my_registed_num} 个奥丁号<br>排名第 ${my_rank} 位，超过了 ${my_rank_percent}% 的朋友。</a></strong></p>
        </div>
        </#if>
        <table class="table table-striped">
        <thead>
            <tr>
                <th>${LANG_RANK}</th>
                <th>${LANG_ODIN_REGISTER_ADDRESS}</th>
                <th>${LANG_REGISTED_NUM}</th>
                <th>${LANG_FIRST_ODIN}</th>
            </tr>
        </thead>

        <tbody>
        <#list top100_registers as register>
            <tr>
                <td>${register["rank"]}</td>
                <td>${register["register_label"]}</td>
                <td>${register["odin_num"]}</td>
                <td><a href='/odin-detail?odin=${register["first_short_odin"]}'>${register["first_short_odin"]}</a></td>
            </tr>
        </#list>
        </tbody>
        </table>
        </#if>
    </div>
    
    <div class="tab-pane" id="query_odin">
      <div class="row section">
      <center>
      <br>
      <form action="/odin-detail" class="form-horizontal" method="get">
          <div class="form-group">
            <label for="odin" class="col-sm-2 control-label">${LANG_INPUT_ODIN}</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="${LANG_INPUT_ODIN_DESC}" name="odin" id="odin" value="">
            </div>
          </div>
          
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button class="btn btn-success" type="submit" >${LANG_QUERY_ODIN}</button>
            </div>
          </div>
      </form>
      
      <br>
      <br>
      <form action="/odin-match" class="form-horizontal" method="get">
          <div class="form-group">
            <label for="word" class="col-sm-2 control-label">${LANG_INPUT_WORD}</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="${LANG_INPUT_WORD_DESC}" name="word" id="word" value="">
            </div>
          </div>
          
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button class="btn btn-success" type="submit" >${LANG_MATCH_WORD}</button>
            </div>
          </div>
      </form>
      
      </center>
      </div>
    </div>
</div>
</div>

</@template.content>
