<#import "template.html" as template>
<@template.content>
<#if !success?? >
<div class="row section">
    <div class="row section">
    <table border="0" width="100%">
    <tr>
      <h2>${LANG_VIEW_THE_DETAIL_OF} ODIN[${odin["short_odin"]}]:${odin["full_odin"]}</h2></td>
      <td align="right">
      <#if odin["me_updatable"]??>
      <a class="btn btn-warning" role="button" href='/odin-update?odin=${odin["short_odin"]}'>${LANG_UPDATE}...</a>
      </#if>
      </td>
    </tr>
    </table>
    </div>
    <ul>
    <li>${LANG_ODIN_ADMIN_ADDRESS} : ${odin["admin"]}</li>
    <li>${LANG_ODIN_TITLE} : ${odin["title"]}
    <li>${LANG_EMAIL} : ${odin["email"]}</li>
    
    <li>${LANG_ODIN_AUTHORITY} : <#if odin["auth"]="0">${LANG_THE_REGISTER_OR_ADMIN_CAN_UPDATE}</#if><#if odin["auth"]="1">${LANG_ONLY_THE_ADMIN_CAN_UPDATE}</#if><#if odin["auth"]="2">${LANG_REGISTER_AND_ADMIN_MUST_UPDATE_TOGETHER}</#if></li>
    
    <li>${LANG_ODIN_REGISTER_ADDRESS} : ${odin["register"]}</li>

    <li>${LANG_ODIN_AP}</li>
    <ul>
    <#assign apids=0..9/>
      <#list apids as apid>
      <#if odin["ap"+apid+"_url"]??><li>${odin["ap"+apid+"_url"]}  <a class="btn btn-success" role="button" href='/odin-check-ap-vd?odin=${odin["short_odin"]}&apid=${apid}'>${LANG_BROWSE_AP}...</a></li></#if>
      </#list>
    </ul>

    <li>${LANG_ODIN_VALIDTION} : <br><ul><textarea rows=3 cols=80>${odin["vd_set_debug"]}</textarea></ul></li>
    <li>${LANG_ESCAPED_LIST} : <br><ul><textarea rows=2 cols=80>${odin["escaped_list_debug"]}</textarea></ul></li>
    </ul>
    <#if awaiting_update_log_num??>
    <hr>
    <h3>${LANG_CONFIRM_THE_BELOW_UPDATE_OF}:</h3>
    <form action="/odin-confirm" class="form-inline" method="post">
    <input type="hidden" name="odin" value='${odin["short_odin"]}'>
    <input type="hidden" name="awaiting_update_log_num" value='${awaiting_update_log_num}'>
    
    <#list awaiting_update_logs as update_info>
    ${update_info["log_sn"]+1}.
    <ul>
    <input type="hidden" name='update_log_id${update_info["log_sn"]}' value='${update_info["log_id"]}'>
    <!--<li>update_log_id:${update_info["log_id"]}</li>-->
    <li>Submit time: ${update_info["block_time"]}   Block:${update_info["block_index"]}</li>
    <li>Updater: ${update_info["updater"]}</li>
    <li>Update setting:${update_info["update_desc"]}</li>
    </ul>
    <hr size=1>
    </#list>
    
    <div class="input-group">
        <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span class="input-group-btn">
            <button class="btn btn-danger btn-lg" type="submit"  onclick="this.innerHTML='${LANG_CLICKED_WAITING}';this.disabled=true;form.submit();" <#if !own??>disabled="disabled"</#if>>${LANG_CONFIRM_THE_UPDATE}</button>
        </span>
    </div>
    </form>
    </#if>
</div>
</#if>

</@template.content>
