<#import "template.html" as template>
<@template.content>
<#if !success??  && !error??>
<div class="row section">
    <div class="row section">
    <table border="0" width="100%">
    <tr>
        <td><h2>${LANG_BROWSE_PPK_NETWORK}</h2></td>
        <td align="right">
        <form action="/" class="form-inline" method="get"><input name='ppk-uri' type='text' size='80' value='<#if ppk_uri??>${ppk_uri}</#if>'><button class="btn btn-primary" type="submit">Go</button></form>
        </td>
    </tr>
    </table>
    </div>
    ${LANG_RESPONSE_URI}:<#if ap_resp_ppk_uri??>${ap_resp_ppk_uri}</#if><br>
    ${LANG_RESPONSE_URL}:<#if ap_resp_url??>${ap_resp_url}</#if><br>
    ${LANG_VALIDATE_RESULT}:<#if ap_resp_validate_result??>${ap_resp_validate_result}</#if><br>
    <hr>
    <#if ap_resp_content??>${ap_resp_content}</#if>
</div>
</#if>

</@template.content>
