<#import "template.html" as template>
<@template.content>
	<div class="row section">
		<h2>ODIN Debug</h2>
		<form action="/odin-debug" class="form-inline" method="post">
				<input type="hidden" name="form" value="add-odin-batch">
				<input type="hidden" name="register" value="${address}">
				
				<div class="input-group">
					<span class="input-group-addon">Admin address</span>
					<input type="text" placeholder="" name="admin_address" value="" size="40">
				</div>
				
                <div class="input-group">
					<span class="input-group-addon">Title</span>
					<input type="text" placeholder="" name="title" value=""  size="35">
				</div>
                
				<div class="input-group">
					<span class="input-group-addon">Email</span>
					<input type="text" placeholder="" name="email" value=""  size="35">
				</div>
				
				<div class="input-group">
					<span class="input-group-addon">AP 1</span>
					<input type="text" placeholder="" name="ap1_url" value="http://ppkpub.org/AP/"  size="30">
				</div>
				
				<div class="input-group">
					<span class="input-group-addon">AP 2</span>
					<input type="text" placeholder="" name="ap2_url" value=""  size="30">
				</div>
				
				<div class="input-group">
					<span class="input-group-addon">AP 3</span>
					<input type="text" placeholder="" name="ap3_url" value=""  size="30">
				</div>
				
				<div class="input-group">
					<span class="input-group-addon">AP 4</span>
					<input type="text" placeholder="" name="ap4_url" value=""  size="30">
				</div>
				
				<div class="input-group">
					<span class="input-group-addon">AP 5</span>
					<input type="text" placeholder="" name="ap5_url" value=""  size="30">
				</div>
                
                <div class="input-group">
                    <span class="input-group-addon">Authority</span>
                    <select name="auth" id="auth">
                        <option value="0" selected="selected">The register or admin can update</option>
                        <option value="1">Only the register can update</option>
                        <option value="2">Register and admin must update together</option>
                    </select>
                </div>
                
                <div class="input-group">
					<span class="input-group-addon">Batch regist</span>
					<input type="text" name="batch_num" value="2"  size="5">
				</div>
                
				<div class="input-group">
					<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
					<span class="input-group-btn">
						<button class="btn btn-success btn-lg" type="submit"  onclick="this.innerHTML='Waiting';this.disabled=true;form.submit();" <#if !own??>disabled="disabled"</#if>>Batch Add</button>
					</span>
				</div>
		</form>
	</div>
	

</@template.content>
