<#import "template.html" as template>
<@template.content>
<#if !success??  && !error??>
<div class="row section">
    <div class="row section">
    <table border="0" width="100%">
    <tr>
        <td><h2>${LANG_VALIDATE_AN_AP} ODIN[${odin["short_odin"]}]:${odin["full_odin"]}</h2></td>
        <td align="right">
        <a class="btn btn-warning" role="button" href='/odin-update?odin=${odin["short_odin"]}'>${LANG_UPDATE_BASEINFO}...</a>
        <a class="btn btn-warning" role="button" href='/odin-update-ap?odin=${odin["short_odin"]}'>${LANG_UPDATE_AP_SET}...</a>
        <a class="btn btn-warning" role="button" href='/odin-update-vd?odin=${odin["short_odin"]}'>${LANG_UPDATE_VD_SET}...</a>
        </td>
    </tr>
    </table>
    </div>
    
    <h3>AP[${apid}]:${ap_url}</h3>

    ${LANG_RESPONSE_URI}:<input name='ppk-uri' type='text' size='100' value='<#if ap_resp_ppk_uri??>${ap_resp_ppk_uri}</#if>'><br>
    ${LANG_RESPONSE_URL}:${ap_resp_url}<br>
    ${LANG_RESPONSE_CONTENT}:<br><textarea rows=3 cols=100>${ap_resp_content}</textarea><br>
    ${LANG_RESPONSE_SIGNATURE}:<br><textarea rows=3 cols=100>${ap_resp_sign}</textarea><br>
    ${LANG_VALIDATE_PUBKEY}:<br><textarea rows=2 cols=100><#if vd_set_pubkey??>${vd_set_pubkey}</#if></textarea><br>
    ${LANG_VALIDATE_RESULT}:${ap_resp_validate_result}<br>
        
    <hr>
    
</div>
</#if>

</@template.content>
