<#import "template.html" as template>
<@template.content>
<#if !success??  && !error??>


<div class="row section">
  <div class="form-group">
    <label for="top_buttons" class="col-sm-5 control-label"><h3>${LANG_CREATE_AP_SAMPLE} ODIN[${odin["short_odin"]}]:${odin["full_odin"]}</h3></label>
    <div class="col-sm-7" id="top_buttons" align="right">
      <a class="btn btn-warning" role="button" href='/odin-update?odin=${odin["short_odin"]}'>${LANG_UPDATE_BASEINFO}...</a>
      <a class="btn btn-warning" role="button" href='/odin-update-vd?odin=${odin["short_odin"]}'>${LANG_UPDATE_VD_SET}...</a>
      <a class="btn btn-danger" role="button" href='/odin-trans?odin=${odin["short_odin"]}'>${LANG_TRANSFER_REGISTER}...</a>
    </div>
  </div>
</div>

<div class="form-group">
 <textarea class="form-control" id="ap_chunk" rows=8 ><#if ap_chunk??>${ap_chunk}</#if></textarea>
</div>

<form action="/confirmtx" class="form-horizontal" method="post" id="sign_form">
  <input type="hidden" name="form" value="sign-ap">
  <input type="hidden" name="apid" value="${apid}">
  <input type="hidden" name="odin" id="odin" value='${odin["short_odin"]}'>
  <input type="hidden" name="updater" value="${address}">
  <input type="hidden" name="ap_chunk_encoded" id="ap_chunk_encoded" value="">
  <input type="hidden" name="ap_data_signed" id="ap_data_signed" value="">

   <div class="form-group">
    <label for="ap_type" class="col-sm-2 control-label">${LANG_SELECT_FIRST_AP_TYPE}</label>
    <div class="col-sm-10">
      <select class="form-control" name="ap_type" id="ap_type" size="3">
          <option value="dat"  selected="selected" >${LANG_AP_TYPE_DAT}</option>
          <option value="ipfs">${LANG_AP_TYPE_IPFS}</option>
          <option value="btmfs" >${LANG_AP_TYPE_BTMFS}</option>
      </select>
    </div>
  </div>

  <#if new_vd_set_prvkey??>
  <div class="form-group">
    <label for="sign_algo" class="col-sm-2 control-label">${LANG_ALGORITHM}</label>
    <div class="col-sm-10">
     <input class="form-control" type="text" name="sign_algo" id="sign_algo" value='<#if new_vd_set_algo??>${new_vd_set_algo}</#if>'  list="algo_list" >
    </div>
  </div>
  <datalist id="algo_list">
    <option value="SHA256withRSA" label="SHA256withRSA">
    <option value="SHA384withRSA" label="SHA384withRSA">
    <option value="SHA512withRSA" label="SHA512withRSA">
    <option value="SHA1withRSA" label="SHA1withRSA">
    <option value="MD5withRSA" label="MD5withRSA">
  </datalist>
  <div class="form-group">
    <label for="sign_prvkey" class="col-sm-2 control-label">${LANG_PRIVATE_KEY}</label>
    <div class="col-sm-10">
     <textarea class="form-control" name="sign_prvkey" id="sign_prvkey" rows=3 >${new_vd_set_prvkey}</textarea>
     <span>${LANG_THE_PRIVATE_KEY_FOR_SIGN_PAGE}</span>
    </div>
  </div>
  </#if>
  
  <div class="form-group">
    <label for="sign_pubkey" class="col-sm-2 control-label">${LANG_PUBLIC_KEY}</label>
    <div class="col-sm-10">
     <textarea class="form-control" name="sign_pubkey" id="sign_pubkey" rows=3 readonly><#if new_vd_set_pubkey??>${new_vd_set_pubkey}</#if></textarea>
    </div>
  </div>

  
  <div class="form-group" align="center">
    <div class="col-sm-offset-2 col-sm-10">
      <button class="btn btn-warning btn-lg"  type="button" onclick="signApContent();this.innerHTML='${LANG_CLICKED_WAITING}';this.disabled=true;return false;" >${LANG_SUBMIT_TO_UPDATE}</button>
    </div>
  </div>
</form>
<hr>

<script type="text/javascript">
var default_odin_uri;

window.onload=function(){
    init();
}

function init(){
    console.log("init...");
    
    if(typeof(PeerWeb) !== 'undefined'){ //检查PPk开放协议相关PeerWeb JS接口可用性
        console.log("PeerWeb enabled");
        
        default_odin_uri='ppk:'+document.getElementById("odin").value+'#';

        try{
            PeerWeb.getPPkResourcePubkey(
                default_odin_uri,
                'callback_getPPkResourcePubkey'  //回调方法名称
            );
        }catch(e){
            //alert("签名操作有误!\n"+e);
        }
    }else{
        console.log("PeerWeb not valid");
        //alert("PeerWeb not valid. Please visit by PPk Browser For Android v0.3.2 above.");
    }
}

function callback_getPPkResourcePubkey(status,obj_data){
    document.getElementById("sign_pubkey").value="";
    if(document.getElementById("sign_prvkey")!=null)
            document.getElementById("sign_prvkey").value="本机私钥受保护";
            
    if('OK'==status){
        try{
            document.getElementById("sign_pubkey").value=obj_data.local_pubkey;
        }catch(e){
            alert("获取的公钥信息有误!\n"+e);
        }
    }else{
        alert("无法获取到开放身份标识对应密钥！\n请检查确认");
    }
}

//编码可能带有HTML关键字的内容字符串
function signApContent(){
    var ap_chunk=document.getElementById("ap_chunk").value;
    
    try{
        var input_prvkey=document.getElementById("sign_prvkey");
        if( input_prvkey != null && input_prvkey.value.length>30 ){ //使用本地钱包私钥
            document.getElementById("ap_chunk_encoded").value=stringToHex(encodeURIComponent(ap_chunk)); //encode两次避免提示XSS错误
            document.getElementById("sign_form").submit();
        }else if(typeof(PeerWeb) !== 'undefined'){ //检查PPk开放协议相关PeerWeb JS接口可用性
            var mTempDataHex = bytesToHex( encodeUtf8(ap_chunk) ) ; //需要签名的原文
            //alert(mTempDataHex);
        
            console.log("PeerWeb enabled");

            var requester_uri="PPkTool";
            
            
            //请求用指定资源密钥来生成签名
            PeerWeb.signWithPPkResourcePrvKey(
                default_odin_uri,
                requester_uri ,
                mTempDataHex,
                'callback_signWithPPkResourcePrvKey'  //回调方法名称
            );
        }else { 
            //console.log("PeerWeb not valid");
            alert("PeerWeb not valid. Please visit by PPk Browser For Android v0.3.2 above.");
        }
    }catch(e){
        alert("签名操作有误!\n"+e);
    }
    
    
    
}

function callback_signWithPPkResourcePrvKey(status,obj_data){
    if('OK'==status){
        try{
            //alert("res_uri="+obj_data.res_uri+" \nsign="+obj_data.sign+" \algo="+obj_data.algo);
            var ap_chunk=document.getElementById("ap_chunk").value;
            var obj_ap_data={
                "ver":1,
                "data":ap_chunk,
                "sign": obj_data.algo+":"+obj_data.sign,
            };
            
            var ap_data_signed= JSON.stringify(obj_ap_data);
            //alert("ap_data_signed="+ap_data_signed);
            //document.getElementById("ap_data_signed").value=stringToHex(ap_data_signed);
            document.getElementById("ap_data_signed").value=ap_data_signed;
            
            document.getElementById("sign_form").submit();
        }catch(e){
            alert("获得的签名信息有误!\n"+e);
        }
    }else{
        alert("无法签名指定资源！\n请检查确认该资源已配置有效的验证密钥.");
    }
}

//Ascii/Unicode字符串转换成16进制表示
function stringToHex(str){
    var val="";
    for(var i = 0; i < str.length; i++){
        var tmpstr=str.charCodeAt(i).toString(16);  //Unicode
        val += tmpstr.length==1? '0'+tmpstr : tmpstr;  
    }
    return val;
}


/** 
 * 得到UTF8编码的字节数组 
 * @param text 需要转换的原字符串 
 * @return  转换后的字节数组 
 */  
function encodeUtf8(text) {
    var code = encodeURIComponent(text);
    var bytes = [];
    for (var i = 0; i < code.length; i++) {
        var c = code.charAt(i);
        if (c === '%') {
            var hex = code.charAt(i + 1) + code.charAt(i + 2);
            var hexVal = parseInt(hex, 16);
            bytes.push(hexVal);
            i += 2;
        } else bytes.push(c.charCodeAt(0));
    }
    return bytes;
}

/** 
 * 字节数组转16进制 
 * @param bytes 需要转换的byte数组 
 * @return  转换后的Hex字符串 
 */  
function bytesToHex(bytes) {
    for (var hex = [], i = 0; i < bytes.length; i++) { 
        hex.push(((bytes[i] >>> 4) & 0xF).toString(16).toUpperCase());
        hex.push((bytes[i] & 0xF).toString(16).toUpperCase());
    }
    return hex.join("");
}


</script>


</#if>

</@template.content>
